body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    scroll-snap-align: start;
}

.header {
    background-image: url('');
    background-size: cover;
    text-align: center;
    padding: 20px 0;
    background-attachment: fixed;
    color: white;
}

.profile-image {
    display: block;
    margin: 0 auto;
    width: 550px;
    border-radius: 50%;
}

.content-section {
    position: relative;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.content-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('');
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.4;
}

.content-block {
    flex-basis: 30%;
}

.contact {
    background-image: url('');
    background-size: cover;
    background-attachment: fixed;
}
